<launch>
  <node
    pkg="first_pkg"
    type="webcam_pub.py"
    name="webcam_pub"
    output="screen"
  />
  <node
    pkg="first_pkg"
    type="vision_node.py"
    name="vision_node"
    output="screen"
  />
  <node
    pkg="first_pkg"
    type="mobility_node.py"
    name="mobility_node"
    output="screen"
  />
</launch>
